* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: 40px;
}

.navbar-brand span{
  font-size: 25px;
}

#sign {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.btn-info {
  background-color: rgb(0, 128, 128);
  color: white;
  font-weight: 700;
}
.text-decoration-none {
  border-right: 1px solid #dcdcdc;
  padding-right: 15px;
}

.interiors {
  background-color: #f8e4be;
  border-radius: 2px;
}


.main-content {
  border: 1px solid #dcdcdc;
  height: 62px;
  text-decoration: none;
}
.main-content a{
  text-decoration: none;
  color:rgb(140, 138, 138);
  
}

.main-content a:active {
  color: red;
}
.active-link{
  color: red;
}
.main-content p{
  font-size: 18px;
  padding: 10px 20px;

  color:black;

}

.main-content p:hover {
 
  font-weight: bold;
  border-bottom: 5px solid red;
  cursor: pointer;
}


.top {
  border: 1px solid #dcdcdc;
  width: 900px;
}

.top > * {
  border: none;
  border-left: 1px solid #dcdcdc;
  padding: 15px;
  outline: none;
  font-weight: 600;
}

.submit,
#submit-btn {
  background-color: rgb(235, 76, 76);
  color: white;
  border: none;
  text-align: center;
}

.radio-button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  border: 1px solid #dcdcdc;
  padding: 10px;
}
.radio-button  * {
  padding: 4px;
}


.footer {
  text-align: center;
  width: 400px;
  margin: auto;
  margin-top: 50px;
  font-size: 18px;
  font-weight: 600;
}
.footer-text {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
}
.btn-info {
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}